// Background color
$header-back-color: rgba(255, 255, 255, 0.95);
$body-back-color: #E5E5E5;
$footer-back-color: #3F3D56;
$back-color__grey: #F7F9FB;
$back-color__green: rgba(97, 161, 153, 0.15);

// Font color
$font-color__white: #FFFFFF;
$font-color__black: #1B1B1B;
$font-color__grey-two: #4F4F4F;
$font-color__grey-three: #828282;
$font-color__green: #61A199;
$footer-font-color: #FFFFFF;

// Border color
$header-button-color__black: rgba(27, 27, 27, 0.4);
$header-button-color__green: #61A199;

// Font size desktop
$font-size-desktop__h1: 64px;
$font-size-desktop__h2: 48px;
$font-size-desktop__xs: 14px;
$font-size-desktop__s: 16px;
$font-size-desktop__m: 20px;
$font-size-desktop__l: 24px;

// Font size mobile
$font-size-mobile__h1: 32px;
$font-size-mobile__h2: 24px;
$font-size-mobile__xs: 10px;
$font-size-mobile__s: 12px;
$font-size-mobile__m: 14px;
$font-size-mobile__l: 16px;

//Font family
$font-family__Roboto: Roboto;

// Url Image
$nav-menu-open__img: 'img/menu 1.svg';
$nav-menu-close__img: 'img/close 1.svg';

// Media conf
$media-mobile__min-width: 375px;
$media-mobile__max-width: 1439px;
$media-desktop__min-width: 1440px;

// Another colors
$header-menu-line-color: #C8C8CF;
$footer-social-hover-color: #61A199;

// FAQ dropdown color
$question-back-color__active: rgba(97, 161, 153, 0.15);
$question-back-color__hover:  rgba(97, 161, 153, 0.1);
$question-button-color__active: #61A199;