.b-signup{
    width: 100%;
    margin-top: 90px;
    padding-bottom: 174px;
}
    .b-signup .b-signup-step{
        margin-top: 150px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 147.3%;
        text-align: center;
        color: #828282;
    }
    .b-signup h1{
        margin-top: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 120%;
        text-align: center;
        color: #1B1B1B;
    }
    .b-signup .b-signup-block{
        width: 679px;
        margin: 60px auto 0;
    }
    .b-signup .ma52{
        margin: 52px auto 0 !important;
    }
    .b-signup #error-form{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 58px;
        background: #EB5757;
        z-index: 1000;
    }
        .b-signup #error-form p{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            margin: 19px auto 20px auto;
        }
        .b-signup .b-signup-block h3{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 147.3%;
            color: #1B1B1B;
            margin-bottom: 30px;
        }
        .b-signup .b-signup-block div{
            width: 100%;
            display: flex;
            margin-top: 20px;
        }
            .b-signup .b-signup-block div div{
                display: flex;
                height: auto;
                flex-direction: column;
                margin-top: 0;
            }
                .b-signup .b-signup-block div div span#email-error{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #EB5757;
                    margin: 8px 277px 0px auto;
                    display: none;
                }
                .b-signup .b-signup-block div div span#pass-error{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #EB5757;
                    margin: 8px 270px 0px auto;
                    display: none;
                }
            .b-signup .b-signup-block div p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                margin-top: 14px;
                white-space: pre;
            }
            .b-signup .b-signup-block div input{
                background: #FFFFFF;
                border: 1px solid #E0E0E0;
                box-sizing: border-box;
                border-radius: 6px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                padding: 14px 12px 14px 12px;
            }
            .b-signup .b-signup-block div input.error{
                border-color: #EB5757 !important;
            }
            .b-signup .b-signup-block div input.error:focus{
                border: 2px solid #EB5757 !important;
                outline: none;
            }
            .b-signup .b-signup-block div input:not([type='button']):not(.error):focus{
                border: 2px solid #61A199 !important;
                outline: none;
            }
            .b-signup .b-signup-block div input:not([type='button']):hover{
                border: 1px solid #61A199;
            }
            .b-signup .b-signup-block div input::placeholder{
                color: #BDBDBD;
            }
            .b-signup .b-signup-block div input[type='text']{
                width: 416px;
                height: 44px;
                margin: 0 0 0 auto;
            }
            .b-signup .b-signup-block div input[type='email']{
                width: 416px;
                height: 44px;
                margin: 0 0 0 auto;
            }
            .b-signup .b-signup-block div input[type='date']{
                width: 155px;
                height: 44px;
                margin: 0 261px 0 auto;
            }
            .b-signup .b-signup-block div input[type='date']::-webkit-inner-spin-button {
                display: none;
            }
            .b-signup .b-signup-block div input[type='date']::-webkit-calendar-picker-indicator {
                margin: 11px 0px 11px auto;
                background-image: url('../img/input-date.svg');
            }
            .b-signup .b-signup-block div input[type='number']{
                width: 155px;
                height: 44px;
                margin: 0 261px 0 auto;
            }
            .b-signup .b-signup-block div input[type='number']::-webkit-inner-spin-button {
                display: none;
            }
            .b-signup .b-signup-block div .b-signup-block-password input[type='password']{
                width: 416px;
                height: 44px;
                margin: 0 0 0 auto;
                padding: 14px 40px 14px 12px !important;
            }
            .b-signup .b-signup-block div input[type='button']{
                background: url('../img/pass-show.svg');
                background-size: cover;
                border: none;
                width: 22px;
                height: 19px;
                outline: none;
                padding: 0;
                position: absolute;
                right: 12px;
                top: 13px;
                cursor: pointer;
            }
            .b-signup .b-signup-block div .active{
                height: 15px !important;
                top: 14px !important;
                background: url('../img/pass-hide.svg') !important;
            }
            .b-signup-block-password{
                position: relative;
                display: block !important;
                margin: 0 0 0 auto !important;
                width: 416px !important;
            }

    .b-signup  .b-signup-submit{
        width: 100%;
        height: 84px;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
        box-shadow: 0px -1px 0px #DEE2E4;
    }
        .b-signup  .b-signup-submit input{
            display: block;
            width: 176px;
            height: 51px;
            background: #E6E6E6;
            border-radius: 6px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #B4B5BD;
            margin: 17px auto 16px;
            outline: none;
        }
        .b-signup  .b-signup-submit input.active{
            background: #61A199 !important;
            color: #FFFFFF;
            cursor: pointer;
        }